@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap');

html {
  font-size: 62.5%;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  border-radius: 4px;
}
